* {margin: 0; padding: 0;}  

@page {
  size: 642.51px 1001.57px;  /* ancho altura */
}


html, body {
			margin-top: 0%;
			padding: 0;
			width:642.51px;
			height: 1001.57px;
			display: table;
			font-weight: 100;
			background-image: url('../img/receipt/receipt.png');	
			background-size: 100% 100%;
		 	background-repeat: no-repeat;
		}

.container {
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}

.content {
			text-align: center;
			display: inline-block;
			margin-top: -190px;
			font-weight: bold;		
		}


/*html, body {

	width:642.51px;
	height: 1001.57px;
	background-image: url('../img/receipt/receipt.png');
	background-size: 100% 100%;
 	background-repeat: no-repeat;
}*/

p{
	text-align: center;
	font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.dateOfIssue{
	position: absolute;
	margin-left: 245.66px;
	margin-top: 20px;
	font-size: 8px;
}

.contrato{
	position: absolute;
	margin-left: 559.9px;
	margin-top: 21.7px;
	font-size: 13px
	font-weight: bold;
}

.recibo1{
	position: absolute;
	margin-left: 559.9px;
	margin-top: 55.22px;
	font-size: 13px
	font-weight: bold;
}

.vencim{
	position: absolute;
	margin-left: 510.23px;
	margin-top: 104.23px;
	font-size: 13px
}

.mesF{
	position: absolute;
	margin-left: 495.11px;
	margin-top: 133.33px;
	font-size: 13px
}

.medidor{
	position: absolute;
	margin-left: 509.83px;
	margin-top: 160.16px;
	font-size: 13px
}

/*sector ruta y folio*/

.sec{
	position: absolute;
	margin-left: 480.37px;
	margin-top: 191.15px;
	font-size: 13px
}
.rut{
	position: absolute;
	margin-left: 520.81px;
	margin-top: 191.15px;
	font-size: 13px
}
.folio{
	position: absolute;
	margin-left: 552.56px;
	margin-top: 191.15px;
	font-size: 13px
}

/*usuario datos*/
.nombre{
	position: absolute;
	margin-left: 15.11px;
	margin-top: 112.92px;
	font-size: 9.5px
}

.rfc{
	position: absolute;
	margin-left: 52.91px;
	margin-top: 138.59px;
	font-size: 10px
}

.tarifa{
	position: absolute;
	margin-left: 245.66px;
	margin-top: 139.48px;
	font-size: 10px
}
.direcc{
	position: absolute;
	margin-left: 15.11px;
	margin-top: 162.94px;
	font-size: 9.5px
}
.direccF{
	position: absolute;
	margin-left: 15.11px;
	margin-top: 204.74px;
	font-size: 9px
}
.ccatastral{
	position: absolute;
	margin-left: 15.11px;
	margin-top: 227.44px;
	font-size: 12px
}

/*lecturas */

.ant{
	position: absolute;
	margin-left: 337.13px;
	margin-top: 221.17px;
	font-size: 13px
}
.act{
	position: absolute;
	margin-left: 375.68px;
	margin-top: 221.17px;
	font-size: 13px
}
.consm{
	position: absolute;
	margin-left: 418.01px;
	margin-top: 221.17px;
	font-size: 13px
}
.prom{
	position: absolute;
	margin-left: 470.92px;
	margin-top: 221.17px;
	font-size: 13px
}
.mrezago{
	position: absolute;
	margin-left: 506.45px;
	margin-top: 221.17px;
	font-size: 13px
}

/*table mes fact*/

table.t1{
	position: absolute;
	margin-left: 331.84px;
	margin-top: 287.26px;
	font-size: 8px;
	text-align: left;
}


.t1 tr td {
	width:100px;
	text-align: center;
}
.fact{
	position: absolute;
	margin-left: 452.78px;
	margin-top: 405.07px;
	font-size: 8px;
	font-weight: bold;
}

.total_description{
	position: absolute;
	margin-left: 331.84px;
	margin-top: 416.55px;
	font-size: 8px;
	font-weight: bold;
}
.total1{
	position: absolute;
	margin-left: 490.58px;
	margin-top: 422.97px;
	font-size: 15px;
	font-weight: bold;
}

/*tabla pago anticipado */

table.t2{
	position: absolute;
	margin-left: 331.84px;
	margin-top: 636.62px;
	font-size: 10.5px;
	
}
.t2 tr td {
	width:80px;
	text-align: center;
}
.total2{
	position: absolute;
	margin-left: 528.37px;
	margin-top: 777.36px;
	font-size: 15px;
	font-weight: bold;
}

.total_description2{
	position: absolute;
	margin-left: 331.84px;
	margin-top: 767.80px;
	font-size: 8px;
	font-weight: bold;
}

.recibo2{
	position: absolute;
	margin-left: 60.47px;
	margin-top: 783.14px;
	font-size: 14px;
	font-weight: bold;
}

/*tira para usuario*/
table.t3{
	position: absolute;
	margin-left: 41.19px;
	margin-top: 878.36px;
	font-size: 6px;
}
.t3 tr td {
	width:80px;
	text-align: center;
}
.totalFA{
	position: absolute;
	margin-left: 203.33px;
	margin-top: 961.36px;
	font-size: 16px;
	font-weight: bold;
}
table.t4{
	position: absolute;
	margin-left: 380.97px;
	margin-top: 877.60px;
	font-size: 10px;
}
.t4 tr td {
	width:80px;
	text-align: center;
}
.totalPA{
	position: absolute;
	margin-left: 521.19px;
	margin-top: 961.36px;
	font-size: 15px;
	font-weight: bold;
}

.tContrato{
	position: absolute;
	margin-left: 169.32px;
	margin-top: 815.77px;
	font-size: 9px;
}
.tRecibo{
	position: absolute;
	margin-left: 223.05px;
	margin-top: 815.77px;
	font-size: 9px;
}
.tSec{
	position: absolute;
	margin-left: 280.06px;
	margin-top: 815.77px;
	font-size: 9px;
}
.tRut{
	position: absolute;
	margin-left: 169.32px;
	margin-top: 839.96px;
	font-size: 9px;
}

.tFol{
	position: absolute;
	margin-left: 203.33px;
	margin-top: 839.96px;
	font-size: 9px;
}
.tVen{
	position: absolute;
	margin-left: 244.91px;
	margin-top: 839.96px;
	font-size: 9px;
}

.tContrato2{
	position: absolute;
	margin-left: 487.18px;
	margin-top: 815.77px;
	font-size: 9px;
}
.tRecibo2{
	position: absolute;
	margin-left: 546.14px;
	margin-top: 815.77px;
	font-size: 9px;
}
.tSec2{
	position: absolute;
	margin-left: 597.54px;
	margin-top: 815.77px;
	font-size: 9px;
}
.tRut2{
	position: absolute;
	margin-left: 487.18px;
	margin-top: 839.96px;
	font-size: 9px;
}

.tFol2{
	position: absolute;
	margin-left: 520.81px;
	margin-top: 839.96px;
	font-size: 9px;
}
.tVen2{
	position: absolute;
	margin-left: 563.14px;
	margin-top: 839.96px;
	font-size: 9px;
}
.barcode{
	position: absolute;
	margin-left: 9.38px;
	margin-top: 817.91px;
	font-size: 9px;
}

img.barcode{
	width: 100px;
	height: 35px;
}

div.barcode2{
	position: absolute;
	margin-left: 322.15px;
	margin-top: 817.91px;
	font-size: 9px;
}
/*logo mes*/
div.logo_mes{
	position: absolute;
	margin-left: 113.38px;
	margin-top: 291.77px;
	font-size: 9px;
}

.saltoDePagina{
	display:block;
	page-break-before:always;
}

img.logo_m{
	width: 130px;
	height: 100px;
}

